body{
background:black;
color:white;
font-family:Poppins,sans-serif;
margin:0;
}

nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 30px;
z-index:100;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(10px);
}

.logo img{
height:50px;
object-fit:contain;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:14px;
}

.video-bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-3;
filter:brightness(0.35);
}

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(to bottom,
rgba(0,0,0,0.2),
rgba(0,0,0,0.9));
z-index:-2;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero-content{
max-width:900px;
}

.mini-text{
letter-spacing:5px;
font-size:12px;
opacity:0.7;
margin-bottom:20px;
}

.hero h1{
font-size:80px;
line-height:0.95;
margin-bottom:25px;
text-transform:uppercase;
}

.typing{
font-size:22px;
color:#ff4d4d;
margin-bottom:20px;
height:35px;
}

.description{
font-size:16px;
line-height:1.8;
opacity:0.8;
max-width:650px;
margin:auto;
margin-bottom:35px;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.btn{
padding:15px 35px;
border-radius:50px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.primary-btn{
background:#ff2a2a;
color:white;
}

.secondary-btn{
background:rgba(255,255,255,0.08);
border:1px solid rgba(255,255,255,0.08);
color:white;
}

.logo img{
height:55px;
object-fit:contain;
}

.menu-toggle{
display:none;
font-size:28px;
cursor:pointer;
color:white;
}

@media(max-width:768px){

.menu-toggle{
display:block;
font-size:34px;
position:absolute;
right:20px;
top:22px;
z-index:1001;
}

nav{
padding:18px 20px;
height:90px;
display:flex;
align-items:center;
justify-content:space-between;
}

nav ul{
position:absolute;
top:90px;
right:20px;
width:220px;
background:rgba(0,0,0,0.95);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,0.08);
border-radius:22px;
padding:22px;
display:none;
flex-direction:column;
gap:18px;
z-index:999;
box-shadow:0 10px 40px rgba(0,0,0,0.45);
}

nav ul.show{
display:flex;
animation:menuFade 0.35s ease;
}

nav ul li{
list-style:none;
}

nav ul li a{
font-size:15px;
color:white;
text-decoration:none;
}

.hero h1{
font-size:46px;
}

.typing{
font-size:18px;
}

.description{
font-size:14px;
line-height:1.8;
padding:0 10px;
}

.logo img{
height:48px;
}

}

@keyframes menuFade{

from{
opacity:0;
transform:translateY(-10px);
}

to{
opacity:1;
transform:translateY(0);
}

  }
